<table class="table-auto relative w-full">
    <thead>
      <tr>
        <th>Nom du projet</th>
        <th>Description</th>
        <th>Manager</th>
        <th>Nombres de Tickets</th>
        <th>Etat</th>
        <th>Date de création</th>
        <th>Dernière mise a jour</th>
      </tr>
    </thead>
    <tbody class="border" *ngFor="let project of projects" >
        <tr [routerLink] ="['/project/', project.id ]">
            <td>{{ project.name }}</td>
            <td>{{ project.description }}</td>
            <td>{{ project.manager }}</td>
        </tr>
    </tbody>
  </table>